@model TravelTripProje.Models.Siniflar.Muzeler
@{
    ViewBag.Title = "YeniMuze";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Yeni Müze Ekleme</h2>
<br />
<form class="form-group" method="post">
    @Html.LabelFor(x => x.Baslik)
    @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Konum)
    @Html.TextBoxFor(x => x.Konum, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.MuzelerImage)
    @Html.TextBoxFor(x => x.MuzelerImage, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Müze Ekle</button>
</form>
